$primary: #39ff14; // Verde Neón
$secondary: #0037ff; // Azul Neón
$dark: #0a0a0a; // Negro (no 100% negro)

$positive: $primary;
$negative: #ff0800;
$info: $secondary;
$warning: #b3ff00;

$dark-page: #010101;

$typography-font-family: 'Outfit', sans-serif !default;

// Ajuste de pesos para que coincidan con el estilo moderno de Outfit
$h1: (
  size: 6rem,
  line-height: 6rem,
  letter-spacing: -0.01562em,
  weight: 100,
) !default;
$h2: (
  size: 3.75rem,
  line-height: 3.75rem,
  letter-spacing: -0.00833em,
  weight: 100,
) !default;
$h3: (
  size: 3rem,
  line-height: 3.125rem,
  letter-spacing: normal,
  weight: 400,
) !default;
$h4: (
  size: 2.125rem,
  line-height: 2.5rem,
  letter-spacing: 0.00735em,
  weight: 600,
) !default;
$h5: (
  size: 1.5rem,
  line-height: 2rem,
  letter-spacing: normal,
  weight: 600,
) !default;
$h6: (
  size: 1.25rem,
  line-height: 2rem,
  letter-spacing: 0.0125em,
  weight: 700,
) !default;
